@inject AleksaPortfolio.Models.Interfaces.IModuleConverter ModuleConverter
@model AleksaPortfolio.Models.ViewModels.ProjectsModuleViewModel

<section class="py-5">
    <div class="container px-5 mb-5">
        @if(!string.IsNullOrWhiteSpace(Model.Title))
        {
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">@Model.Title</span></h1>
            </div>
        }
        @if (Model.Cards != null && Model.Cards.Any())
        {
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    @foreach(var card in Model.Cards)
                    {
                        @await Html.RenderModuleAsync(card, ModuleConverter)
                    }
                </div>
            </div>
        }
    </div>
</section>