@inject AleksaPortfolio.Models.Interfaces.IModuleConverter ModuleConverter
@using AleksaPortfolio.Models.Global
@using AleksaPortfolio.Models.Model
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits UmbracoViewPage<StandardContentPage>
@{
	var layoutModel = new LayoutModel(Umbraco.AssignedContentItem);
	ViewData["LayoutModel"] = layoutModel;
	Layout = "MainTemplate.cshtml";
}

@if(Model.Modules != null && Model.Modules.Any())
{
	<div class="container px-5 my-5">
		@foreach(var module in Model.Modules)
		{
			@await Html.PartialAsync($"~/Views/Partials/blocklist/Components/{module.Content.ContentType.Alias}.cshtml", ModuleConverter.ConvertViewModel(module.Content));
		}
	</div>
}